
  <mat-card>
    <mat-card-title>Vuelos Salientes</mat-card-title>
    <button mat-flat-button color="primary" routerLink="/flight/crear">Añadir vuelo</button>
    <mat-card-actions>
      <div class="container">
        <ejs-grid [dataSource]='flights' [editSettings]='editSettings' (actionBegin)="actionBegin($event)" [allowPaging]="true"
        [pageSettings]="pageSettings" allowSorting='true' [filterSettings]="filterOptions" allowTextWrap="true"
        [allowFiltering]="true" >
                    <e-columns>
                        <e-column field='cityOrigin' headerText='Ciudad Origen' width=100 textAlign='Left' isPrimaryKey='true'></e-column>
                        <e-column field='cityDestination' headerText='Ciudad Destinno' width=130></e-column>
                        <e-column field='departureTime' headerText='departureTime' width=130 type="date" format="dd/MM/yyyy HH:mm:ss"></e-column>
                        <e-column field='arrivalTime' headerText='arrivalTime' width=160 type="date" format="dd/MM/yyyy HH:mm:ss"></e-column>
                        <e-column field='flightNumber' headerText='flightNumber' width=160  ></e-column>
                        <e-column field='airlineId' headerText='airlineId' width=120  ></e-column>
                        <e-column field='status' headerText='status' width=90  ></e-column>
                        <e-column headerText='Administrar Vuelos' width='100' [commands]='commands'></e-column>
                    </e-columns>
                </ejs-grid>
      </div>

    </mat-card-actions>
  </mat-card>



